Importation des Librairies

**PI DEV: Esprit Alumni NLP:Text Cleaning/Field of Activity Extraction.**

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from nltk.corpus import stopwords
from nltk import word_tokenize
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
#from french_lefff_lemmatizer.french_lefff_lemmatizer import FrenchLefffLemmatizer
stop_wordsFR  = set(stopwords.words('french'))
stop_wordsAN  = set(stopwords.words('english'))
import re
import string
#!pip install git+https://github.com/ClaudeCoulombe/FrenchLefffLemmatizer.git &> /dev/null
#import unidecode
from wordcloud import WordCloud
import requests
import json
from pandas import json_normalize
import plotly.graph_objs as go

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
!pip install Unidecode

Collecting Unidecode
  Downloading Unidecode-1.3.4-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 24.1 MB/s
Installing collected packages: Unidecode
Successfully installed Unidecode-1.3.4

In [ ]:
import unidecode

In [ ]:
!pip install git+https://github.com/ClaudeCoulombe/FrenchLefffLemmatizer.git &> /dev/null
!pip install Unidecode
!pip3 install googletrans==3.1.0a0
!pip install google_trans_new
!pip install itranslate -U
!pip install deep-translator
from deep_translator import GoogleTranslator
from googletrans import Translator

Requirement already satisfied: Unidecode in /usr/local/lib/python3.7/dist-packages (1.3.4)
Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.3 MB/s
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.10.8)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.6 MB/s
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Collecting hstspreload
  Downloading hstspreload-2021.12.1-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 51.2 MB/s
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 4.4 MB/s
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.4 MB/s
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16367 sha256=6e827064581abf89ef4e74b6abc2d2eebfb21f66b348d5eedf8ec49eef2f307c
  Stored in directory: /root/.cache/pip/wheels/0c/be/fe/93a6a40ffe386e16089e44dad9018ebab9dc4cb9eb7eab65ae
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.12.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0
Collecting google_trans_new
  Downloading google_trans_new-1.1.9-py3-none-any.whl (9.2 kB)
Installing collected packages: google-trans-new
Successfully installed google-trans-new-1.1.9
Collecting itranslate
  Downloading itranslate-0.1.1-py3-none-any.whl (5.7 kB)
Requirement already satisfied: joblib<2.0.0,>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from itranslate) (1.1.0)
Collecting logzero<2.0.0,>=1.7.0
  Downloading logzero-1.7.0-py2.py3-none-any.whl (16 kB)
Collecting httpx<0.19.0,>=0.18.2
  Downloading httpx-0.18.2-py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 5.9 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx<0.19.0,>=0.18.2->itranslate) (2021.10.8)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx<0.19.0,>=0.18.2->itranslate) (1.2.0)
Collecting httpcore<0.14.0,>=0.13.3
  Downloading httpcore-0.13.7-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 5.3 MB/s
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx<0.19.0,>=0.18.2->itranslate) (1.5.0)
Collecting h11<0.13,>=0.11
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 4.6 MB/s
Collecting anyio==3.*
  Downloading anyio-3.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 8.8 MB/s
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio==3.*->httpcore<0.14.0,>=0.13.3->httpx<0.19.0,>=0.18.2->itranslate) (2.10)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from anyio==3.*->httpcore<0.14.0,>=0.13.3->httpx<0.19.0,>=0.18.2->itranslate) (3.10.0.2)
Installing collected packages: h11, anyio, httpcore, logzero, httpx, itranslate
  Attempting uninstall: h11
    Found existing installation: h11 0.9.0
    Uninstalling h11-0.9.0:
      Successfully uninstalled h11-0.9.0
  Attempting uninstall: httpcore
    Found existing installation: httpcore 0.9.1
    Uninstalling httpcore-0.9.1:
      Successfully uninstalled httpcore-0.9.1
  Attempting uninstall: httpx
    Found existing installation: httpx 0.13.3
    Uninstalling httpx-0.13.3:
      Successfully uninstalled httpx-0.13.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
googletrans 3.1.0a0 requires httpx==0.13.3, but you have httpx 0.18.2 which is incompatible.
Successfully installed anyio-3.5.0 h11-0.12.0 httpcore-0.13.7 httpx-0.18.2 itranslate-0.1.1 logzero-1.7.0
Collecting deep-translator
  Downloading deep_translator-1.8.1-py3-none-any.whl (29 kB)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from deep-translator) (2.23.0)
Collecting beautifulsoup4<5.0.0,>=4.9.1
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 7.4 MB/s
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.7/dist-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.3.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2021.10.8)
Installing collected packages: beautifulsoup4, deep-translator
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.10.0 deep-translator-1.8.1

Découvrir La Data

In [ ]:
df = pd.read_excel("SalemCompany&Startup.xlsx",header=None)

# Nouvelle section

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,query,error,timestamp,name,isAdmin,logo,banner,description,tagLine,type,...,relatedCompanies3,relatedCompanies4,relatedCompanies5,relatedCompanies6,relatedCompanies7,relatedCompanies8,relatedCompanies9,relatedCompanies10,siègeSocial,spécialisations
1,companyUrl,Not a Company URL,2022-02-14T19:01:59.750Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.linkedin.com/company/it-serv-company/,NaN,2022-02-14T19:02:02.959Z,IT SERV Company,False,https://media-exp1.licdn.com/dms/image/C560BAQHiAba3CgrkOA/company-logo_400_400/0/1576164571126?e=1652918400&v=beta&t=PIwzIwmBHZuMAciTlaqIW8DqdpB_fhJmw-C1rosS-1c,https://media-exp1.licdn.com/dms/image/C561BAQHkbUKJ9N9fSQ/company-background_10000/0/1579700954138?e=1644955200&v=beta&t=z5nEynvoBt58JNEyFypjL4YZWkwycLwE7j_2eumN1JY,"IT SERV est une société de conseil et de services en TIC, qui depuis sa création en 2008 articule ses prestations autour de quatre offres :\nConsulting IT\nIntégration & Développement\nExpertise Télécoms\nNearshore Outsourcing, \nAfin d'aider ses Clients à profiter pleinement des technologies nouvelles, à maximiser l’efficacité et l’efficience de leur organisation et à optimiser leurs processus.",Votre partenaire technologique pour aujourd'hui et demain,Société de personnes (associés),...,https://www.linkedin.com/company/tobbabykeeplyna/,https://www.linkedin.com/company/inetumtunisie/,https://www.linkedin.com/company/digitech-france/,https://www.linkedin.com/company/it-services/,https://www.linkedin.com/company/be-softilys-tunisie/,https://www.linkedin.com/company/it-serve-com/,https://www.linkedin.com/company/itserv-teknoloji-hizmetleri/,https://www.linkedin.com/company/aymax-consulting/,NaN,NaN
3,https://www.linkedin.com/company/devitco/,NaN,2022-02-14T19:02:09.174Z,DevItCo - the Develop It Company,False,https://media-exp1.licdn.com/dms/image/C4E0BAQH8LTaIy4fVpQ/company-logo_400_400/0/1519908760235?e=1652918400&v=beta&t=MlxW5xYJNnI8DkCETHlzfP0nkF2Erj2sQmGdb33Z8iM,NaN,"We do digital transformation for retail brands!\n\nA DevItCo, nous sommes passionnés par la transformation digital et l'expérience client dans vos boutiques et en dehors. Notre objectif: apporter les outils et l'accompagnement nécessaires aux acteurs retail pour mener à bien leur transformation digitale et offrir à leurs clients une expérience unique, cohérente et totalement personnalisée où qu'ils soient.\n\nNotre solution ConnectiK est la première API d'interfaçage entre Cegid et les solutions clients B2C omnicanal. Cette solution Plug & Play totalement bâtie sur les web services du module Omnicanal Cegid vous permettra d'enfin capturer tout le potentiel de votre système d'informations, sans lui apporter aucune modification. Grâce à ConnectiK, vous pourrez, en temps réel, automatiser le traitement de vos informations et de vos transactions sur toutes vos solutions clients B2C: site e-commerce, applications mobiles, bornes digitales etc..",NaN,Société civile/Société commerciale/Autres types de sociétés,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Paris, France",Big Data
4,https://www.linkedin.com/company/itskillscompany/,NaN,2022-02-14T19:02:15.974Z,IT Skills Company,False,https://media-exp1.licdn.com/dms/image/C4E0BAQEL_0RgNyOGdA/company-logo_400_400/0/1519871063059?e=1652918400&v=beta&t=M3UXPEswVUBJi51cmkTCI1tO2h1puXfi5puE3zAoAy0,NaN,"IT Skills Company est une entreprise informatique en plein essor, installée à Sfax, Tunisie, spécialisée dans le développement web et des applications mobile.\nWebsite : www.itskills.com.tn\nAddress : \n- Rue Ahmed Aloulou Imm. El Hana App. 14 Sfax Eljadida, 3003 Sfax, Tunisia.\n- Pépinière d’entreprises Sfax Innovation 1, Sfax 3052",NaN,Société civile/Société commerciale/Autres types de sociétés,...,https://www.linkedin.com/company/spark-it-france/,https://www.linkedin.com/company/piximind/,https://www.linkedin.com/company/bfigroupe/,https://www.linkedin.com/company/roboxagency/,https://www.linkedin.com/company/dot-tn/,https://www.linkedin.com/company/ooredootn/,https://www.linkedin.com/company/itcblida/,https://www.linkedin.com/company/linedata/,"Sfax , Sfax",NaN

In [ ]:
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37],
           dtype='int64')

On voit que la data n'a pas le bon header donc on va régler ce problème en enlever la ligne de 0,1,2..

In [ ]:
df=df.rename(columns=df.iloc[0])
df.drop(df.index[0],inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.columns

Index(['query', 'error', 'timestamp', 'name', 'isAdmin', 'logo', 'banner',
       'description', 'tagLine', 'type', 'followerCount', 'website', 'domain',
       'siteWeb', 'téléphone', 'tailleDel’entreprise', 'fondéeEn',
       'companyAddress', 'mainCompanyID', 'industryCode', 'industry',
       'salesNavigatorLink', 'employeesOnLinkedIn', 'companyName', 'savedImg',
       'companyUrl', 'relatedCompanies1', 'relatedCompanies2',
       'relatedCompanies3', 'relatedCompanies4', 'relatedCompanies5',
       'relatedCompanies6', 'relatedCompanies7', 'relatedCompanies8',
       'relatedCompanies9', 'relatedCompanies10', 'siègeSocial',
       'spécialisations'],
      dtype='object')

* La colonne Error est une colonne erroné à cause du web scrapping, c'est pour cela on va l'enlever.
* La colonne siteWeb, domain et website fournir les memes données :  le lien du site web de l'entreprise, c'est pour cela on va laisser une seul colonne qui est siteWEb.
* La colonne savedImg n'est pas une colonne significative, elle représente un code XML géneré suit au web scrapping, on va l'enlever.
* La colonne Query et CompanyUrl fournit la meme information : le lien linkedin de l'entreprise => on va enlever la colonne Query et  laisser la colonne  companyUrl.
* La colonne banner est une colonne  qui nous mennent pour un site erroné, on va l'enlever.
* La colonne salesNavigatorLink est une colonne qui contient des liens qui nous mènent à un produit pour Linkedin, c'est une colonne inutile pour notre problème, on va l'enlever.
A faire : Comprendre l'utilité de la colonne IsAdmin


*   Related companies : regex ( extraire nom )
*

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   query                 33 non-null     object
 1   error                 1 non-null      object
 2   timestamp             33 non-null     object
 3   name                  677 non-null    object
 4   isAdmin               32 non-null     object
 5   logo                  676 non-null    object
 6   banner                26 non-null     object
 7   description           677 non-null    object
 8   tagLine               19 non-null     object
 9   type                  32 non-null     object
 10  followerCount         32 non-null     object
 11  website               32 non-null     object
 12  domain                32 non-null     object
 13  siteWeb               32 non-null     object
 14  téléphone             5 non-null      object
 15  tailleDel’entreprise  31 non-null     object
 16  fondéeEn              627 non-null    object
 17  companyAddress        13 non-null     object
 18  mainCompanyID         32 non-null     object
 19  industryCode          32 non-null     object
 20  industry              32 non-null     object
 21  salesNavigatorLink    32 non-null     object
 22  employeesOnLinkedIn   30 non-null     object
 23  companyName           32 non-null     object
 24  savedImg              31 non-null     object
 25  companyUrl            13 non-null     object
 26  relatedCompanies1     12 non-null     object
 27  relatedCompanies2     11 non-null     object
 28  relatedCompanies3     11 non-null     object
 29  relatedCompanies4     11 non-null     object
 30  relatedCompanies5     11 non-null     object
 31  relatedCompanies6     11 non-null     object
 32  relatedCompanies7     11 non-null     object
 33  relatedCompanies8     11 non-null     object
 34  relatedCompanies9     11 non-null     object
 35  relatedCompanies10    11 non-null     object
 36  siègeSocial           24 non-null     object
 37  spécialisations       670 non-null    object
dtypes: object(38)
memory usage: 201.4+ KB

*   query : inutile
*   website, domain, siteweb : le meme feature pas d'information supplementaire 
*   taille de l'entreprise : on peut mettre un scale 1 2 3 
*   followerCount, fondéeEn, mainCompanyID, industryCode, employeesOnLinkedIn : caster pour un int

In [ ]:
df=df.astype({'followerCount': float, 'mainCompanyID': float})

In [ ]:
#df=df.astype({'fondéeEn': float, 'industryCode': float, 'employeesOnLinkedIn': int})
# le cast n'est pas possible ici erreur

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   query                 33 non-null     object
 1   error                 1 non-null      object
 2   timestamp             33 non-null     object
 3   name                  677 non-null    object
 4   isAdmin               32 non-null     object
 5   logo                  676 non-null    object
 6   banner                26 non-null     object
 7   description           677 non-null    object
 8   tagLine               19 non-null     object
 9   type                  32 non-null     object
 10  followerCount         32 non-null     float64
 11  website               32 non-null     object
 12  domain                32 non-null     object
 13  siteWeb               32 non-null     object
 14  téléphone             5 non-null      object
 15  tailleDel’entreprise  31 non-null     object
 16  fondéeEn              627 non-null    object
 17  companyAddress        13 non-null     object
 18  mainCompanyID         32 non-null     float64
 19  industryCode          32 non-null     object
 20  industry              32 non-null     object
 21  salesNavigatorLink    32 non-null     object
 22  employeesOnLinkedIn   30 non-null     object
 23  companyName           32 non-null     object
 24  savedImg              31 non-null     object
 25  companyUrl            13 non-null     object
 26  relatedCompanies1     12 non-null     object
 27  relatedCompanies2     11 non-null     object
 28  relatedCompanies3     11 non-null     object
 29  relatedCompanies4     11 non-null     object
 30  relatedCompanies5     11 non-null     object
 31  relatedCompanies6     11 non-null     object
 32  relatedCompanies7     11 non-null     object
 33  relatedCompanies8     11 non-null     object
 34  relatedCompanies9     11 non-null     object
 35  relatedCompanies10    11 non-null     object
 36  siègeSocial           24 non-null     object
 37  spécialisations       670 non-null    object
dtypes: float64(2), object(36)
memory usage: 201.4+ KB



1.   Élément de liste
2.   Élément de liste

In [ ]:
df.isnull().sum()

query                   645
error                   677
timestamp               645
name                    1
isAdmin                 646
logo                    2
banner                  652
description             1
tagLine                 659
type                    646
followerCount           646
website                 646
domain                  646
siteWeb                 646
téléphone               673
tailleDel’entreprise    647
fondéeEn                51
companyAddress          665
mainCompanyID           646
industryCode            646
industry                646
salesNavigatorLink      646
employeesOnLinkedIn     648
companyName             646
savedImg                647
companyUrl              665
relatedCompanies1       666
relatedCompanies2       667
relatedCompanies3       667
relatedCompanies4       667
relatedCompanies5       667
relatedCompanies6       667
relatedCompanies7       667
relatedCompanies8       667
relatedCompanies9       667
relatedCompanies10      667
siègeSocial             654
spécialisations         8
dtype: int64

In [ ]:
df.columns

Index(['query', 'error', 'timestamp', 'name', 'isAdmin', 'logo', 'banner',
       'description', 'tagLine', 'type', 'followerCount', 'website', 'domain',
       'siteWeb', 'téléphone', 'tailleDel’entreprise', 'fondéeEn',
       'companyAddress', 'mainCompanyID', 'industryCode', 'industry',
       'salesNavigatorLink', 'employeesOnLinkedIn', 'companyName', 'savedImg',
       'companyUrl', 'relatedCompanies1', 'relatedCompanies2',
       'relatedCompanies3', 'relatedCompanies4', 'relatedCompanies5',
       'relatedCompanies6', 'relatedCompanies7', 'relatedCompanies8',
       'relatedCompanies9', 'relatedCompanies10', 'siègeSocial',
       'spécialisations'],
      dtype='object')

In [ ]:
cols=['query', 'error','banner','website','siteWeb','salesNavigatorLink','savedImg', 'isAdmin', 'logo']
df.drop(cols,axis=1,inplace=True)

In [ ]:
df.columns

Index(['timestamp', 'name', 'description', 'tagLine', 'type', 'followerCount',
       'domain', 'téléphone', 'tailleDel’entreprise', 'fondéeEn',
       'companyAddress', 'mainCompanyID', 'industryCode', 'industry',
       'employeesOnLinkedIn', 'companyName', 'companyUrl', 'relatedCompanies1',
       'relatedCompanies2', 'relatedCompanies3', 'relatedCompanies4',
       'relatedCompanies5', 'relatedCompanies6', 'relatedCompanies7',
       'relatedCompanies8', 'relatedCompanies9', 'relatedCompanies10',
       'siègeSocial', 'spécialisations'],
      dtype='object')

In [ ]:
df.head()

,timestamp,name,description,tagLine,type,followerCount,domain,téléphone,tailleDel’entreprise,fondéeEn,...,relatedCompanies3,relatedCompanies4,relatedCompanies5,relatedCompanies6,relatedCompanies7,relatedCompanies8,relatedCompanies9,relatedCompanies10,siègeSocial,spécialisations
0,2022-02-14T19:01:59.750Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-02-14T19:02:02.959Z,IT SERV Company,IT SERV est une société de conseil et de servi...,Votre partenaire technologique pour aujourd'hu...,Société de personnes (associés),3871.0,itserv.tn,+21671230206,11-50 employés,2008.0,...,https://www.linkedin.com/company/tobbabykeeplyna/,https://www.linkedin.com/company/inetumtunisie/,https://www.linkedin.com/company/digitech-france/,https://www.linkedin.com/company/it-services/,https://www.linkedin.com/company/be-softilys-t...,https://www.linkedin.com/company/it-serve-com/,https://www.linkedin.com/company/itserv-teknol...,https://www.linkedin.com/company/aymax-consult...,NaN,Consulting IT
2,2022-02-14T19:02:09.174Z,DevItCo - the Develop It Company,We do digital transformation for retail brands...,NaN,Société civile/Société commerciale/Autres type...,50.0,devitco.io,NaN,2-10 employés,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Paris, France",Big Data
3,2022-02-14T19:02:15.974Z,IT Skills Company,IT Skills Company est une entreprise informati...,NaN,Société civile/Société commerciale/Autres type...,291.0,itskills.com.tn,NaN,2-10 employés,2017.0,...,https://www.linkedin.com/company/spark-it-france/,https://www.linkedin.com/company/piximind/,https://www.linkedin.com/company/bfigroupe/,https://www.linkedin.com/company/roboxagency/,https://www.linkedin.com/company/dot-tn/,https://www.linkedin.com/company/ooredootn/,https://www.linkedin.com/company/itcblida/,https://www.linkedin.com/company/linedata/,"Sfax , Sfax",développement
4,2022-02-14T19:02:21.859Z,KODREVO - IT Development Company,"Nous sommes une équipe de passionnés, animés p...",Une jeune STARTUP Tunisienne de développements...,Travailleur indépendant ou profession libérale,4.0,https://kodrevo.netlify.app,54007387.0,2-10 employés,2021.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Development

In [ ]:
df.isnull().sum()

timestamp               645
name                      1
description               1
tagLine                 659
type                    646
followerCount           646
domain                  646
téléphone               673
tailleDel’entreprise    647
fondéeEn                 51
companyAddress          665
mainCompanyID           646
industryCode            646
industry                646
employeesOnLinkedIn     648
companyName             646
companyUrl              665
relatedCompanies1       666
relatedCompanies2       667
relatedCompanies3       667
relatedCompanies4       667
relatedCompanies5       667
relatedCompanies6       667
relatedCompanies7       667
relatedCompanies8       667
relatedCompanies9       667
relatedCompanies10      667
siègeSocial             654
spécialisations           8
dtype: int64


# **Text Cleaning sur la colonne Spécialisations**

In [ ]:
df['spécialisations'].fillna('vide')

0                                         vide
1                                Consulting IT
2                                     Big Data
3                               développement
4                                  Development
                        ...
671                      Conseil en management
672                       Industrie automobile
673                                     Design
674    Fabrication de produits pharmaceutiques
675                    Restauration collective
Name: spécialisations, Length: 676, dtype: object

In [ ]:
cols_null=['timestamp','name', 'description', 'type', 'domain', 'téléphone','tailleDel’entreprise','tagLine','fondéeEn', 'companyAddress','mainCompanyID',
           'industryCode','industry','employeesOnLinkedIn','companyName','companyUrl',
           'relatedCompanies1','relatedCompanies2','relatedCompanies3','relatedCompanies4',
           'relatedCompanies5','relatedCompanies6','relatedCompanies7','relatedCompanies8',
           'relatedCompanies9','relatedCompanies10','siègeSocial','spécialisations']
for x in cols_null :
  df[x].fillna("vide",inplace=True)


df["followerCount"].fillna(df["followerCount"].median(),inplace=True)

# **# Traduction Colonne Spécialisation en anglais**

In [ ]:
translator = Translator()
df['spécialisations']=df['spécialisations'].apply(lambda x: translator.translate(x).text)

In [ ]:
df.isnull().sum()

timestamp               0
name                    0
description             0
tagLine                 0
type                    0
followerCount           0
domain                  0
téléphone               0
tailleDel’entreprise    0
fondéeEn                0
companyAddress          0
mainCompanyID           0
industryCode            0
industry                0
employeesOnLinkedIn     0
companyName             0
companyUrl              0
relatedCompanies1       0
relatedCompanies2       0
relatedCompanies3       0
relatedCompanies4       0
relatedCompanies5       0
relatedCompanies6       0
relatedCompanies7       0
relatedCompanies8       0
relatedCompanies9       0
relatedCompanies10      0
siègeSocial             0
spécialisations         0
dtype: int64

# **Removing Stop Words**

In [ ]:
#importing nlp library
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

#Stop words present in the library
new_stopwordsAN = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]
new_stopwordsFR = ['cest',' ’','afin','objectif','autour','dehors','depuis','quelle','fait', 'dun','cette','sil','ème','ère','aussi','alors','donc','lorsque','Actuellement', 'je' , 'spécialité','permis','personnalité','très', 'plusieurs','mont','plus','forger','mesure','devenais','pouvoir','si','comme','tout','quil','encore','ça','quand','jai','dit',]
stopwords_listFR = stop_wordsFR.union(new_stopwordsFR)
stopwords_listAN = stop_wordsAN.union(new_stopwordsAN)
stopwords_list = stopwords_listFR.union(stopwords_listAN)
#stopwords_list[0:10]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
def clean_text(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub('\n', '', text)
    text = text.replace('-', '')
    text= unidecode.unidecode(text)
    text = ' '.join(word for word in text.split() if word not in stopwords_list)
    return text

In [ ]:
df['spécialisations'] = df['spécialisations'].apply(clean_text)

In [ ]:
df['spécialisations']

0                                    empty
1                               consulting
2                                 big data
3                              development
4                              development
                      ...
671                  management consulting
672                    automotive industry
673                                 design
674    manufacture pharmaceutical products
675                    collective catering
Name: spécialisations, Length: 676, dtype: object

# **Removing Punctuation**

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
df['spécialisations'] = df['spécialisations'] .apply(lambda x:remove_punctuation(x))
#lower casing
df['spécialisations'] = df['spécialisations'] .apply(lambda x: x.lower())

In [ ]:
df['spécialisations']

0                                    empty
1                               consulting
2                                 big data
3                              development
4                              development
                      ...
671                  management consulting
672                    automotive industry
673                                 design
674    manufacture pharmaceutical products
675                    collective catering
Name: spécialisations, Length: 676, dtype: object

# **Tokenization**

In [ ]:
from keras.preprocessing.text import Tokenizer
from nltk import word_tokenize
import nltk
nltk.download('punkt')
df['spécialisations'] = df['spécialisations'] .apply(lambda x: nltk.tokenize.word_tokenize(x))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
df['spécialisations']

0      [empty]
1      [empty]
2      [big, data]
3      [empty]
4      [development]
           ...
673    [marketing]
674    [entertainment]
675    [business]
676    [pharmaceutical]
677    [food, beverage]
Name: spécialisations, Length: 678, dtype: object

# Tokenization n'a pas donnée un bon résultat, on la juste tester

# **Stemming and lemmatization**

In [ ]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
df['spécialisations'] =df['spécialisations'] .apply(lambda x:lemmatizer(x))

In [ ]:
#expanding the display
pd.set_option('display.max_colwidth', -1)
#using only description column
df= df ['spécialisations']
df.head()

In [ ]:
df['spécialisations']

0      empty
1      empty
2      big data
3      empty
4      development
          ...
673    marketing
674    entertainment
675    business
676    pharmaceutical
677    food beverage
Name: spécialisations, Length: 678, dtype: object

# Stemming et lemmatization n'ont pas données des bon résultats.

# Extraire du Datasets les entreprises qui peuvent avoir les memes projets que l'entreprise recommandé au profil.

In [ ]:
#a_string = "https://www.linkedin.com/company/it-tecos/"
a_string = df['relatedCompanies3'][1]
#a_string
split_string = a_string.split("https://www.linkedin.com/company/", 1)

substring = split_string[1]
print(substring)

tobbabykeeplyna/

In [ ]:
def split_string(ch) :
  split_string = ch.split("https://www.linkedin.com/company/",1)
  substring = split_string[1]
  return substring

In [ ]:
df['relatedCompanies2']

0      vide
1      https://www.linkedin.com/company/itserv-company/
2      vide
3      https://www.linkedin.com/company/xper-media/
4      vide
       ...
671    vide
672    vide
673    vide
674    vide
675    vide
Name: relatedCompanies2, Length: 676, dtype: object

In [ ]:
desc=df['relatedCompanies2']
caract='https://www.linkedin.com/company/'
sum=0
for i in desc :
  if caract in i :
    sum=sum+1

sum  #193/250

9

In [ ]:
desc=df['relatedCompanies3']
caract='https://www.linkedin.com/company/'
sum=0
for i in desc :
  if caract in i :
    sum=sum+1

sum  #193/250

9

In [ ]:
desc=df['relatedCompanies4']
caract='https://www.linkedin.com/company/'
sum=0
for i in desc :
  if caract in i :
    sum=sum+1

sum  #193/250

9

In [ ]:
desc=df['relatedCompanies5']
caract='https://www.linkedin.com/company/'
sum=0
for i in desc :
  if caract in i :
    sum=sum+1

sum  #193/250

9

In [ ]:
desc=df['relatedCompanies6']
caract='https://www.linkedin.com/company/'
sum=0
for i in desc :
  if caract in i :
    sum=sum+1

sum  #193/250

9

In [ ]:
desc=df['relatedCompanies7']
caract='https://www.linkedin.com/company/'
sum=0
for i in desc :
  if caract in i :
    sum=sum+1

sum  #193/250

9

In [ ]:
desc=df['relatedCompanies8']
caract='https://www.linkedin.com/company/'
sum=0
for i in desc :
  if caract in i :
    sum=sum+1

sum  #193/250

9

In [ ]:
for i in desc :
  if i.find(caract) == -1:
    print(i)

vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide
vide

In [ ]:
def traitement(desc) :
  caract='https://www.linkedin.com/company/'
  if caract in desc :
    return split_string(desc)
  else :
    return 'vide'

In [ ]:
x=traitement('https://www.linkedin.com/company/it-serv/')
print(x)

it-serv/

In [ ]:
df['relatedCompanies1']=df['relatedCompanies1'].apply(lambda x: traitement(x))
df['relatedCompanies2']=df['relatedCompanies2'].apply(lambda x: traitement(x))
df['relatedCompanies3']=df['relatedCompanies3'].apply(lambda x: traitement(x))
df['relatedCompanies4']=df['relatedCompanies4'].apply(lambda x: traitement(x))
df['relatedCompanies5']=df['relatedCompanies5'].apply(lambda x: traitement(x))
df['relatedCompanies6']=df['relatedCompanies6'].apply(lambda x: traitement(x))
df['relatedCompanies7']=df['relatedCompanies7'].apply(lambda x: traitement(x))
df['relatedCompanies8']=df['relatedCompanies8'].apply(lambda x: traitement(x))
df['relatedCompanies9']=df['relatedCompanies9'].apply(lambda x: traitement(x))
df['relatedCompanies10']=df['relatedCompanies10'].apply(lambda x: traitement(x))

In [ ]:
#expanding the display
pd.set_option('display.max_colwidth', -1)
#using only description column
df1= df [['relatedCompanies4']]
df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

    relatedCompanies4
0    vide
1    inetumtunisie/
2    vide
3    piximind/
4    vide
..    ...
671  vide
672  vide
673  vide
674  vide
675  vide

[676 rows x 1 columns]

In [ ]:
df.head()

,timestamp,name,description,tagLine,type,followerCount,domain,téléphone,tailleDel’entreprise,fondéeEn,...,relatedCompanies3,relatedCompanies4,relatedCompanies5,relatedCompanies6,relatedCompanies7,relatedCompanies8,relatedCompanies9,relatedCompanies10,siègeSocial,spécialisations
0,2022-02-14T19:01:59.750Z,vide,vide,vide,vide,1202604.5,vide,vide,vide,vide,...,vide,vide,vide,vide,vide,vide,vide,vide,vide,empty
1,2022-02-14T19:02:02.959Z,IT SERV Company,"IT SERV est une société de conseil et de services en TIC, qui depuis sa création en 2008 articule ses prestations autour de quatre offres :\nConsulting IT\nIntégration & Développement\nExpertise Télécoms\nNearshore Outsourcing, \nAfin d'aider ses Clients à profiter pleinement des technologies nouvelles, à maximiser l’efficacité et l’efficience de leur organisation et à optimiser leurs processus.",Votre partenaire technologique pour aujourd'hui et demain,Société de personnes (associés),3871.0,itserv.tn,+21671230206,11-50 employés,2008.0,...,tobbabykeeplyna/,inetumtunisie/,digitech-france/,it-services/,be-softilys-tunisie/,it-serve-com/,itserv-teknoloji-hizmetleri/,aymax-consulting/,vide,consulting
2,2022-02-14T19:02:09.174Z,DevItCo - the Develop It Company,"We do digital transformation for retail brands!\n\nA DevItCo, nous sommes passionnés par la transformation digital et l'expérience client dans vos boutiques et en dehors. Notre objectif: apporter les outils et l'accompagnement nécessaires aux acteurs retail pour mener à bien leur transformation digitale et offrir à leurs clients une expérience unique, cohérente et totalement personnalisée où qu'ils soient.\n\nNotre solution ConnectiK est la première API d'interfaçage entre Cegid et les solutions clients B2C omnicanal. Cette solution Plug & Play totalement bâtie sur les web services du module Omnicanal Cegid vous permettra d'enfin capturer tout le potentiel de votre système d'informations, sans lui apporter aucune modification. Grâce à ConnectiK, vous pourrez, en temps réel, automatiser le traitement de vos informations et de vos transactions sur toutes vos solutions clients B2C: site e-commerce, applications mobiles, bornes digitales etc..",vide,Société civile/Société commerciale/Autres types de sociétés,50.0,devitco.io,vide,2-10 employés,2017.0,...,vide,vide,vide,vide,vide,vide,vide,vide,"Paris, France",big data
3,2022-02-14T19:02:15.974Z,IT Skills Company,"IT Skills Company est une entreprise informatique en plein essor, installée à Sfax, Tunisie, spécialisée dans le développement web et des applications mobile.\nWebsite : www.itskills.com.tn\nAddress : \n- Rue Ahmed Aloulou Imm. El Hana App. 14 Sfax Eljadida, 3003 Sfax, Tunisia.\n- Pépinière d’entreprises Sfax Innovation 1, Sfax 3052",vide,Société civile/Société commerciale/Autres types de sociétés,291.0,itskills.com.tn,vide,2-10 employés,2017.0,...,spark-it-france/,piximind/,bfigroupe/,roboxagency/,dot-tn/,ooredootn/,itcblida/,linedata/,"Sfax , Sfax",development
4,2022-02-14T19:02:21.859Z,KODREVO - IT Development Company,"Nous sommes une équipe de passionnés, animés par la volonté d’aider à gagner en productivité et à faire de la technologie l'alliée de notre réussite.",Une jeune STARTUP Tunisienne de développements à forte valeur humaine.,Travailleur indépendant ou profession libérale,4.0,https://kodrevo.netlify.app,54007387.0,2-10 employés,2021.0,...,vide,vide,vide,vide,vide,vide,vide,vide,vide,development